<div class="custom-select-filter">
  <div class="filter-option" *ngFor="let option of allOptions" (click)="toggleOption(option)">
    <div class="option-content">
      <!-- Option label -->
      <span *ngIf="variant === 'default'" class="option-text">{{ option }}</span>
      <span *ngIf="variant === 'badge'" 
            class="status-badge" 
            [ngStyle]="getBadgeStyle(option)">
        {{ option }}
      </span>
      
      <!-- Checkbox indicator on the right -->
      <div class="checkbox-wrapper">
        <div class="checkbox" [class.checked]="isSelected(option)">
          <img *ngIf="isSelected(option)" src="assets/icons/checkmark.svg" class="check-mark" alt="Checked">
        </div>
      </div>
    </div>
  </div>
</div>
