<div class="custom-select-filter">
  <div class="filter-option" *ngFor="let option of allOptions" (click)="toggleOption(option)">
    <div class="option-content">
      <span *ngIf="variant === 'default'" class="option-text">{{ option }}</span>
      <span *ngIf="variant === 'badge'" 
            class="status-badge" 
            [ngStyle]="getBadgeStyle(option)">
        {{ option }}
      </span>
    </div>
    <svg *ngIf="isSelected(option)" class="check-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.3332 4L5.99984 11.3333L2.6665 8" stroke="#3B82F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
</div>
